.note-text{
  position: absolute;
  border: 2px solid #2C3F59;
  border-radius: 25px;
  box-shadow: 0 0 10px #2C3F59;
  max-height: 220px;
  padding: 5px;
  left: 40%;
  right: 40%;
  top: 40%;
  background: #E9E9E9;
}